<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h2>All Boards</h2>
    </div>
    <div class="card-body">
      <table id="boards-table" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Board Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @boards.each_with_index do |board, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= board.name %></td>
            <td><%= board.email %></td>
            <td><%= board.created_at.strftime("%d %b %Y, %H:%M %p") %></td>
            <td><%= link_to "View", board_path(board), class: "btn btn-sm btn-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <%= link_to "View Recent Boards", boards_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>